{% render 'partials/head.liquid' %}
 
    <article>
      
      <header>
        
        <h1>{{ person.name }}</h1>
        
        <p><em>Student FDND</em></p>
        
      </header>
  
      <a href="https://www.instagram.com/kitkatisvibing/"><img src="assets/Kate_Mugshot.JPG" alt="" width="800" height="800"></a>

      <dl>
        <dt>{{ person.birthdate | date: "%d-%m" }}</dt>
        <dd>Birthday</dd>
        
        <dt>css</dt>
        <dd>struggle</dd>
        
        <dt>18</dt>
        <dd>age</dd>
      </dl>
  
      <p>"{{ person.bio }}"</p>


      
    </article>

    <script src="scripts/script.js"></script>
    
{% render 'partials/foot.liquid' %}
