{% render 'partials/head.liquid' %}


<button class="blinkies">Blinkies</button>

<aside class="left">
  <h2>blinkie collection</h2>
    <img src="assets/blinkies/blinkie_houseofleaves">
    <img src="assets/blinkies/blinkie_badwebsitedesign.gif">
    <img src="assets/blinkies/blinkie_bisexual.gif">
    <img src="assets/blinkies/blinkie_bisexualpride.gif">
    <img src="assets/blinkies/blinkie_brushes.gif">
    <img src="assets/blinkies/blinkie_colourpallete.gif">
    <img src="assets/blinkies/blinkie_computernerd.gif">
    <img src="assets/blinkies/blinkie_cringeculture.gif">
    <img src="assets/blinkies/blinkie_emoticons.gif">
    <img src="assets/blinkies/blinkie_invaderzim.gif">
    <img src="assets/blinkies/blinkie_junjiito.gif">
    <img src="assets/blinkies/blinkie_lemondemon.gif">
    <img src="assets/blinkies/blinkie_mcr.gif">
    <img src="assets/blinkies/blinkie_millionaires.gif">
    <img src="assets/blinkies/blinkie_minecraft.gif">
    <img src="assets/blinkies/blinkie_miraclemusic.gif">
    <img src="assets/blinkies/blinkie_monsterhigh.gif">
    <img src="assets/blinkies/blinkie_mspaint.gif">
    <img src="assets/blinkies/blinkie_nightvale.gif">
    <img src="assets/blinkies/blinkie_onlinefriends.gif">
    <img src="assets/blinkies/blinkie_paramore.gif">
    <img src="assets/blinkies/blinkie_ponderingorb.gif">
    <img src="assets/blinkies/blinkie_rabiespride.gif">
    <img src="assets/blinkies/blinkie_scene.gif">
    <img src="assets/blinkies/blinkie_scp.gif">
    <img src="assets/blinkies/blinkie_silly.gif">
    <img src="assets/blinkies/blinkie_spiritphone.gif">
    <img src="assets/blinkies/blinkie_startrek.gif">
    <img src="assets/blinkies/blinkie_tetris.gif">
    <img src="assets/blinkies/blinkie_uselesspokemon.gif">
    <img src="assets/blinkies/blinkie_utau.gif">
</aside>

<main>
  <img class="mypic" src="assets/meirl.png" alt="picture of me">
  <h1>{{ person.name }}</h1>
  <img class="divider" src="assets/dividers/divider_bats.gif">
  <ul>
    <li>birthdate: {{ person.birthdate }}</li>
    <li>Github: <a href="https://github.com/Kitkatisvibing">{{ person.github_handle }}</a></li>
    <li>{{ person.bio }}</li>
  </ul>
  <img class="divider" src="assets/dividers/divider_cakes.gif">
  <p>I am a nonbinary (they/he) bisexual person who's special interest is transformers. 
  This is my second time doing the first year of this study and i'm overall just happy to be here. 
  I'm a big fan of the "old web" aesthetic and developed my interest in frontend by exploring neocities pages.
  I hope you enjoy this silly little page i made!</p>
</main>


          
<div class="socials">
  <h2>Socials</h2>
  <ul>
    <li><a href="https://www.instagram.com/kitkatisvibing/" target="_blank">my insta!!</a></li>
    <li><a href="https://www.tumblr.com/kitkatisvibing/" target="_blank">my tumblr!!</a></li>
    <li><a href="https://www.tiktok.com/@kitkatisvibing" target="_blank">my tiktok!!</a></li>
  </ul>
</div>

<div class="stamps">
  <h2>stamps</h2>
  <img src="assets/stamps/stamp_hetalia">
  <img src="assets/stamps/stamp_homestuck">
  <img src="assets/stamps/stamp_houseofleaves">
  <img src="assets/stamps/stamp_junko.gif">
  <img src="assets/stamps/stamp_mango.gif">
  <img src="assets/stamps/stamp_music.gif">
  <img src="assets/stamps/stamp_puyotetris">
  <img src="assets/stamps/stamp_scottpilgrim">
  <img src="assets/stamps/stamp_triplebaka">
  <img src="assets/stamps/stamp_nonbinary.png">
  <img src="assets/stamps/stamp_tvtime">
</div>

{% render 'partials/foot.liquid' %}
