{% render 'partials/head.liquid' %}

<main>
    <p>great success</p>
    <h1>Data-Driven Web</h1>
    <p>Ik ben dus {{ person.name }}</p>
    <p>Het is vandaag {{ 'now' | date: '%A %m-%Y' }}<p>
</main>

{% render 'partials/foot.liquid' %}