/*
⠀⠀⠀⢸⣦⡀⠀⠀⠀⠀⢀⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⢸⣏⠻⣶⣤⡶⢾⡿⠁⠀⢠⣄⡀⢀⣴⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⣀⣼⠷⠀⠀⠁⢀⣿⠃⠀⠀⢀⣿⣿⣿⣇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠴⣾⣯⣅⣀⠀⠀⠀⠈⢻⣦⡀⠒⠻⠿⣿⡿⠿⠓⠂⠀⠀⢀⡇⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠉⢻⡇⣤⣾⣿⣷⣿⣿⣤⠀⠀⣿⠁⠀⠀⠀⢀⣴⣿⣿⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠸⣿⡿⠏⠀⢀⠀⠀⠿⣶⣤⣤⣤⣄⣀⣴⣿⡿⢻⣿⡆⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠟⠁⠀⢀⣼⠀⠀⠀⠹⣿⣟⠿⠿⠿⡿⠋⠀⠘⣿⣇⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⢳⣶⣶⣿⣿⣇⣀⠀⠀⠙⣿⣆⠀⠀⠀⠀⠀⠀⠛⠿⣿⣦⣤⣀⠀⠀
⠀⠀⠀⠀⠀⠀⣹⣿⣿⣿⣿⠿⠋⠁⠀⣹⣿⠳⠀⠀⠀⠀⠀⠀⢀⣠⣽⣿⡿⠟⠃
⠀⠀⠀⠀⠀⢰⠿⠛⠻⢿⡇⠀⠀⠀⣰⣿⠏⠀⠀⢀⠀⠀⠀⣾⣿⠟⠋⠁⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠋⠀⠀⣰⣿⣿⣾⣿⠿⢿⣷⣀⢀⣿⡇⠁⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠋⠉⠁⠀⠀⠀⠀⠙⢿⣿⣿⠇⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⢿⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠀⠀⠀⠀⠀
*/
body{
    margin: 0;
    text-align: center;
    background-image: url(../assets/backgroundtile.gif);
    background-repeat: repeat;
    overflow: hidden;
    height: 90vh;

    @media (min-width:1000px){
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(2, 50%);
        grid-column-gap: 20px;
        grid-row-gap: 10px;
        align-items: center;
        justify-items: center;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
}

button{
    height: 10em;
    width: 2em;
    border-radius: 5px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-weight: 700;
    transition: filter 1s;
}

button:hover{
  filter: drop-shadow(0px 0px 0px #000000);
}

.blinkies, .socials, .stamps{
    background-image: url(../assets/backgroundaside.jpg);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    position: absolute;

    @media (min-width:1000px){
        position: relative;
        width: 90%;
    }
}

.blinkieButton{
    anchor-name: --blinkieButton;
    position: fixed;
    filter: drop-shadow(10px 10px 10px #000000);
    top: 0;
    left: 0;
    z-index: 2;

    @media (min-width:1000px){
        display: none;
    }
}

.blinkies{
    position-anchor: --blinkieButton;
    position-area: left span-bottom;
    filter: drop-shadow(10px 10px 10px #000000);
    z-index: 1;

    img{
        margin: 3%;
    }

    @media (min-width:1000px){
        grid-area: 1 / 1 / 3 / 2;
    }
}


.leftMoved{
    animation-name: openLeft;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes openLeft{
    100%{
        translate: 50vw;
    }
}

.socialButton{
    anchor-name: --socialButton;
    position: fixed;
    filter: drop-shadow(-10px 10px 10px #000000);
    top: 0;
    right: 0;
    z-index: 2;

    @media (min-width:1000px){
        display: none;
    }
}

.socials{
    position-anchor: --socialButton;
    position-area: right span-bottom;
    filter: drop-shadow(-10px 10px 10px #000000);
    z-index: 1;
    align-items: center;
    text-align: start;

    h2{
        margin-bottom: 5vh;
    }

    ul{
        list-style: none;
        line-height: 3;
        padding: 0;

        a{
            background-image: linear-gradient(#f7f8fa ,#e7e9ec);
            border-color: #adb1b8 #a2a6ac #8d9096;
            border-style: solid;
            border-width: 1px;
            border-radius: 3px;
            color: #0f1111;
            display: inline-block;
            height: 5vh;
            width: fit-content;
            padding: 0 11px;
            text-align: center;
            align-items: center;
            text-decoration: none;
            transition: filter 1s;

            @media (min-width:1200px){
                width: 7vw;
            }
        }

        a:hover, a:active{
            filter: drop-shadow(10px 10px 10px #000000);
        }
    }

    @media (min-width:1000px){
        grid-area: 1 / 3 / 2 / 4;
    }
}

.stampButton{
    anchor-name: --stampButton;
    position: fixed;
    filter: drop-shadow(-10px 10px 10px #000000);
    top: 25vh;
    right: 0;
    z-index: 2;

    @media (min-width:1000px){
        display: none;
    }
}

.stamps{
    position-anchor: --stampButton;
    position-area: right span-bottom;
    filter: drop-shadow(-10px 10px 10px #000000);
    z-index: 1;

    @media (min-width:1000px){
        grid-area: 2 / 3 / 3 / 4;
        display: block;
        margin: auto;


        img{
            width: 70%;
            margin-bottom: 3%;
            filter: drop-shadow(0px 10px 10px #000000);
        }
    }
}

.rightMoved{
    animation-name: openRight;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes openRight{
    100%{
        translate: -50vw;
    }
}

main{
    background-image: url(../assets/backgroundtext.gif);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 5%;
    height: 95vh;

    h1{
        margin-bottom: 0;
    }

    .mypic{
        width: 250px;
        height: auto;

        --s: 20px;
        --w: 300px;
  
        width: round(var(--w),4*var(--s)); 
        aspect-ratio: 1;
        padding: var(--s);
        border: var(--s) solid #0000;
        box-sizing: border-box;
        background: conic-gradient(#a252cd,#4eaa74,#b252cd) border-box;
        border-radius: calc(3.5*var(--s)); 
        mask: 
            radial-gradient(calc(sqrt(2)*var(--s)),#000 calc(100% - 1px),#0000),
            conic-gradient(#000 0 0) content-box,
            radial-gradient(calc(sqrt(2)*var(--s)),#0000 100%,#000 calc(100% + 1px)) 
            var(--s) var(--s) padding-box;
            mask-size: calc(var(--s)*4) calc(var(--s)*4);
    }

    .divider{
        width: 100%;
    }

    ul{
        list-style: none;
        li{
            text-align: start;
        }
    }

    @media (min-width:1000px){
        width: 100%;
        height: 100%;
        grid-area: 1 / 2 / 3 / 3;
        filter: drop-shadow(0px 15px 15px #000000);
    }
}


/*
⠀⠀⠀⢸⣦⡀⠀⠀⠀⠀⢀⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⢸⣏⠻⣶⣤⡶⢾⡿⠁⠀⢠⣄⡀⢀⣴⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⣀⣼⠷⠀⠀⠁⢀⣿⠃⠀⠀⢀⣿⣿⣿⣇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠴⣾⣯⣅⣀⠀⠀⠀⠈⢻⣦⡀⠒⠻⠿⣿⡿⠿⠓⠂⠀⠀⢀⡇⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠉⢻⡇⣤⣾⣿⣷⣿⣿⣤⠀⠀⣿⠁⠀⠀⠀⢀⣴⣿⣿⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠸⣿⡿⠏⠀⢀⠀⠀⠿⣶⣤⣤⣤⣄⣀⣴⣿⡿⢻⣿⡆⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠟⠁⠀⢀⣼⠀⠀⠀⠹⣿⣟⠿⠿⠿⡿⠋⠀⠘⣿⣇⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⢳⣶⣶⣿⣿⣇⣀⠀⠀⠙⣿⣆⠀⠀⠀⠀⠀⠀⠛⠿⣿⣦⣤⣀⠀⠀
⠀⠀⠀⠀⠀⠀⣹⣿⣿⣿⣿⠿⠋⠁⠀⣹⣿⠳⠀⠀⠀⠀⠀⠀⢀⣠⣽⣿⡿⠟⠃
⠀⠀⠀⠀⠀⢰⠿⠛⠻⢿⡇⠀⠀⠀⣰⣿⠏⠀⠀⢀⠀⠀⠀⣾⣿⠟⠋⠁⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠋⠀⠀⣰⣿⣿⣾⣿⠿⢿⣷⣀⢀⣿⡇⠁⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠋⠉⠁⠀⠀⠀⠀⠙⢿⣿⣿⠇⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⢿⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠀⠀⠀⠀⠀
*/