body{
    margin: 0;
    text-align: center;
    background-image: url(../assets/backgroundtile.gif);
    background-repeat: repeat;
    overflow: hidden;
    height: 90vh;

    @media (min-width:1000px){
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(2, 50%);
        grid-column-gap: 20px;
        grid-row-gap: 10px;
        align-items: center;
        justify-items: center;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
}

.blinkies, .socials, .stamps{
    background-image: url(../assets/backgroundaside.jpg);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    position: absolute;

    @media (min-width:1000px){
        position: relative;
        width: 90%;
    }
}

.blinkieButton{
    anchor-name: --blinkieButton;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    @media (min-width:1000px){
        display: none;
    }
}

.blinkies{
    position-anchor: --blinkieButton;
    position-area: left span-bottom;
    filter: drop-shadow(10px 10px 10px #000000);
    z-index: 1;

    img{
        margin: 3%;
    }

    @media (min-width:1000px){
        grid-area: 1 / 1 / 3 / 2;
    }
}


.leftMoved{
    animation-name: openLeft;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes openLeft{
    100%{
        translate: 50vw;
    }
}

.socialButton{
    anchor-name: --socialButton;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;

    @media (min-width:1000px){
        display: none;
    }
}

.socials{
    position-anchor: --socialButton;
    position-area: right span-bottom;
    filter: drop-shadow(-10px 10px 10px #000000);
    z-index: 1;

    @media (min-width:1000px){
        grid-area: 1 / 3 / 2 / 4;
    }
}

.stampButton{
    anchor-name: --stampButton;
    position: fixed;
    top: 10vh;
    right: 0;
    z-index: 2;

    @media (min-width:1000px){
        display: none;
    }
}

.stamps{
    position-anchor: --stampButton;
    position-area: right span-bottom;
    filter: drop-shadow(-10px 10px 10px #000000);
    z-index: 1;

    @media (min-width:1000px){
        grid-area: 2 / 3 / 3 / 4;
        display: block;
        margin: auto;


        img{
            width: 70%;
            margin-bottom: 3%;
            filter: drop-shadow(0px 10px 10px #000000);
        }
    }
}

.rightMoved{
    animation-name: openRight;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes openRight{
    100%{
        translate: -50vw;
    }
}

main{
    background-image: url(../assets/backgroundtext.gif);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 5%;
    height: 95vh;

    h1{
        margin-bottom: 0;
    }

    .mypic{
        width: 250px;
        height: auto;

        --s: 20px;
        --w: 300px;
  
        width: round(var(--w),4*var(--s)); 
        aspect-ratio: 1;
        padding: var(--s);
        border: var(--s) solid #0000;
        box-sizing: border-box;
        background: conic-gradient(#a252cd,#4eaa74,#b252cd) border-box;
        border-radius: calc(3.5*var(--s)); 
        mask: 
            radial-gradient(calc(sqrt(2)*var(--s)),#000 calc(100% - 1px),#0000),
            conic-gradient(#000 0 0) content-box,
            radial-gradient(calc(sqrt(2)*var(--s)),#0000 100%,#000 calc(100% + 1px)) 
            var(--s) var(--s) padding-box;
            mask-size: calc(var(--s)*4) calc(var(--s)*4);
    }

    .divider{
        width: 100%;
    }

    ul{
        list-style: none;
        li{
            text-align: start;
        }
    }

    @media (min-width:1000px){
        width: 100%;
        height: 100%;
        grid-area: 1 / 2 / 3 / 3;
        filter: drop-shadow(0px 15px 15px #000000);
    }
}


/*
⠀⠀⠀⢸⣦⡀⠀⠀⠀⠀⢀⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⢸⣏⠻⣶⣤⡶⢾⡿⠁⠀⢠⣄⡀⢀⣴⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⣀⣼⠷⠀⠀⠁⢀⣿⠃⠀⠀⢀⣿⣿⣿⣇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠴⣾⣯⣅⣀⠀⠀⠀⠈⢻⣦⡀⠒⠻⠿⣿⡿⠿⠓⠂⠀⠀⢀⡇⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠉⢻⡇⣤⣾⣿⣷⣿⣿⣤⠀⠀⣿⠁⠀⠀⠀⢀⣴⣿⣿⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠸⣿⡿⠏⠀⢀⠀⠀⠿⣶⣤⣤⣤⣄⣀⣴⣿⡿⢻⣿⡆⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠟⠁⠀⢀⣼⠀⠀⠀⠹⣿⣟⠿⠿⠿⡿⠋⠀⠘⣿⣇⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⢳⣶⣶⣿⣿⣇⣀⠀⠀⠙⣿⣆⠀⠀⠀⠀⠀⠀⠛⠿⣿⣦⣤⣀⠀⠀
⠀⠀⠀⠀⠀⠀⣹⣿⣿⣿⣿⠿⠋⠁⠀⣹⣿⠳⠀⠀⠀⠀⠀⠀⢀⣠⣽⣿⡿⠟⠃
⠀⠀⠀⠀⠀⢰⠿⠛⠻⢿⡇⠀⠀⠀⣰⣿⠏⠀⠀⢀⠀⠀⠀⣾⣿⠟⠋⠁⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠋⠀⠀⣰⣿⣿⣾⣿⠿⢿⣷⣀⢀⣿⡇⠁⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠋⠉⠁⠀⠀⠀⠀⠙⢿⣿⣿⠇⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⢿⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠀⠀⠀⠀⠀
*/
/*
body{
    height: 100%;
    overflow: hidden;
    text-align: center;
    background-image: url(../assets/backgroundtile.gif);
    background-repeat: repeat;
}

.container{
    margin: 10%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 5px;
    max-height: 650px;
}

.left{
    background-image: url(../assets/backgroundtext.gif);
    grid-area: 1 / 1 / 6 / 2;
    border: solid;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
}

main{
    background-image: url(../assets/backgroundtext.gif);
    grid-area: 1 / 2 / 6 / 5; 
    border: solid;
    overflow: scroll;
}

.mypic{
    width: 250px;
    height: auto;

    margin-top: 10%;
    --s: 20px;
    --w: 300px;
  
    width: round(var(--w),4*var(--s)); 
    aspect-ratio: 1;
    padding: var(--s);
    border: var(--s) solid #0000;
    box-sizing: border-box;
    background: conic-gradient(#a252cd,#4eaa74,#b252cd) border-box;
    border-radius: calc(3.5*var(--s)); 
    mask: 
        radial-gradient(calc(sqrt(2)*var(--s)),#000 calc(100% - 1px),#0000),
        conic-gradient(#000 0 0) content-box,
        radial-gradient(calc(sqrt(2)*var(--s)),#0000 100%,#000 calc(100% + 1px)) 
        var(--s) var(--s) padding-box;
        mask-size: calc(var(--s)*4) calc(var(--s)*4);
}

h1{
    margin-top: 0%;
}

.right{
    background-image: url(../assets/backgroundtext.gif);
    grid-area: 1 / 5 / 6 / 6;
    border: solid;
    overflow: auto;
}

.links{
    text-align: center;
}

.cakediv{
    overflow: hidden;
}

a {
    text-align: center;
    margin: 5px;
    max-width: 150px;
    font-size: 18px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
    padding: 0 2em;
    border-radius: 0.3em;
    color: #fff;
    height: 2.6em;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
}

a:hover {
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
    transform: translateY(-0.1em);
}

a:active {
    box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
    transform: translateY(0em);
}

ul{
    list-style: none;
    display: table;
    margin: 0;
    text-align: center;
}

@media (max-width: 700px) {
    body{
        overflow: auto;
    }

    .container{
        margin: 0;
        max-height: none;
    }

    main{
        overflow: auto;
    }

    .mypic{
        margin: 0%;
    }
}
*/